<% provide(:title, "Home") %>

<div class="center jumbotron">
<h1> <%= t('Welcomeindex') %> </h1>
<h2>Lab. SaaS<h2>
<%= link_to t('Gsearch'), "http://www.google.com/", target: "_blank", class: "btn btn-lg btn-primary" %>
</div>